@model Dashboard

<div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
    <div class="left-part">
        <h2 class="text-dark">Task Manager Dashboard</h2>
        <p class="text-gray mb-0">general statistics </p>
    </div>
    
</div>

<div class="row">
    <div class="col-xxl-6 col-lg-12">
        <div class="row">
            <div class="col col-12">
                <div class="card border-0 shadow-sm py-3">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                            <div class="d-flex align-items-center gap-0 flex-wrap">
                                <div id="chart-45"></div>
                                <div>
                                    <h4 class="mb-3">Total Balance</h4>
                                    <h2 class="fs-38 mb-0">$21,560.57</h2>
                                </div>
                            </div>

                            <div>
                                <h5 class="fw-semibold mb-1">Average from last month</h5>
                                <p class="text-gray mb-0"><span class="text-success fw-bold"><i
                                            class="bi bi-graph-up-arrow"></i> +0.5%</span> invoices sent</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-6">
                <div class="card border-0 shadow-sm pd-top-40 pd-bottom-40">
                    <div class="card-body py-0">
                        <h4 class="mb-3">Tasks</h4>
                        <h2 class="fs-38 d-flex align-items-center gap-4"> @Model.TasksCount 
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="card border-0 shadow-sm pd-top-40 pd-bottom-40">
                    <div class="card-body py-0">
                        <h4 class="mb-3">Activities</h4>
                        <h2 class="fs-38 d-flex align-items-center gap-4">
                            @Model.ActivitiesCount
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="card border-0 shadow-sm pd-top-40 pd-bottom-40">
                    <div class="card-body py-0">
                        <h4 class="mb-3">Teams</h4>
                        <h2 class="fs-38 d-flex align-items-center gap-4">
                            @Model.TeamsCount
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="card border-0 shadow-sm pd-top-40 pd-bottom-40">
                    <div class="card-body py-0">
                        <h4 class="mb-3">Projects</h4>
                        <h2 class="fs-38 d-flex align-items-center gap-4">
                            @Model.ProjectsCount
                        </h2>
                    </div>
                </div>
            </div>

       
            <div class="col col-lg-6">
                <div class="card border-0 shadow-sm pd-top-40 pd-bottom-40">
                    <div class="card-body py-0">
                        <h4 class="mb-3">Invoice Remaining</h4>
                        <div class="d-flex align-items-center gap-3 mt-3">
                            <div class="flex-grow-1">
                                <div class="progress rounded-1 bg-light-200 mb-2" role="progressbar" aria-valuemin="0"
                                    aria-valuemax="100" style="height: 10px;">
                                    <div class="progress-bar bg-primary bg-gradient rounded-1" style="width: 24%"></div>
                                </div>
                                <p class="text-gray mb-0"><span class="text-danger fw-bold">-0.8%</span> from last month
                                </p>
                            </div>
                            <h2 class="fs-38"> 24</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-12">
                <div class="card pie-card border-0 shadow-sm">
                    <div
                        class="card-header bg-transparent border-0 p-5 pb-0 d-flex align-items-center justify-content-between gap-3 flex-wrap">
                        <h4 class="mb-0">Pie Chart</h4>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-3">
                                <div class="form-check form-check-inline m-0">
                                    <label class="form-label mb-0 ff-heading fs-18 fw-semibold"
                                        for="checkbox1">Chart</label>
                                    <input type="checkbox" class="form-check-input" id="checkbox1" value="">
                                </div>
                                <div class="form-check form-check-inline m-0">
                                    <label class="form-label mb-0 ff-heading fs-18 fw-semibold"
                                        for="checkbox2">Value</label>
                                    <input type="checkbox" class="form-check-input" id="checkbox2" value="" checked>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body pt-0">
                        <div
                            class="d-flex align-items-center justify-content-around justify-content-xxl-between gap-3 flex-wrap">
                            <div>
                                <div id="chart-48"></div>
                                <h5 class="fw-semibold text-center mb-0 negative-margin">Invoices Made</h5>
                            </div>
                            <div>
                                <div id="chart-49"></div>
                                <h5 class="fw-semibold text-center mb-0 negative-margin">Clients Growth</h5>
                            </div>
                            <div>
                                <div id="chart-50"></div>
                                <h5 class="fw-semibold text-center mb-0 negative-margin">Projects Done</h5>
                            </div>
                        </div>

                      
                    </div>
                </div>
            </div>

         
        </div>
    </div>

    <div class="col-xxl-6 col-lg-12">
        <div class="card border-0 shadow-sm">
            <div
                class="card-header bg-transparent border-0 p-5 pb-0 d-flex align-items-center justify-content-between gap-3 flex-wrap">
                <h4 class="mb-0">Invoices Statistic</h4>
                     </div>

            <div class="card-body pt-2">
                <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                    <div>
                        <div class="d-flex align-items-baseline gap-3 gap-xxl-7 mb-3">
                            <p class="mb-0"><span class="indicator bg-success"></span> Total Paid</p>
                            <h4 class="fs-20 mb-0">1,567</h4>
                        </div>
                        <div class="d-flex align-items-baseline gap-3 gap-xxl-7">
                            <p class="mb-0"><span class="indicator bg-info"></span> Total Unpaid</p>
                            <h4 class="fs-20 mb-0">569</h4>
                        </div>
                    </div>

                    </div>

                <div id="chart-44"></div>
            </div>
        </div>


     
    </div>
</div>



<!-- ApexChart -->
<script src="plugins/apexchart/apexcharts.min.js"></script>
<script src="plugins/apexchart/apexchart-inits/apexcharts-analytics-2.js"></script>
