.badge-soft-primary {
  border-color: $primary;
  background-color: rgba($primary, 0.15);
  color: $primary;
}
.badge-soft-secondary {
  border-color: $secondary;
  background-color: rgba($secondary, 0.15);
  color: $secondary;
}
.badge-soft-success {
  border-color: $success;
  background-color: rgba($success, 0.15);
  color: $success;
}
.badge-soft-danger {
  border-color: $danger;
  background-color: rgba($danger, 0.15);
  color: $danger;
}
.badge-soft-warning {
  border-color: $warning;
  background-color: rgba($warning, 0.15);
  color: $warning;
}
.badge-soft-info {
  border-color: $info;
  background-color: rgba($info, 0.15);
  color: $info;
}
.badge-soft-blue {
  border-color: $blue;
  background-color: rgba($blue, 0.15);
  color: $blue;
}
.badge-soft-green {
  border-color: $green;
  background-color: rgba($green, 0.15);
  color: $green;
}
.badge-soft-red {
  border-color: $red;
  background-color: rgba($red, 0.15);
  color: $red;
}
.badge-soft-yellow {
  border-color: $yellow;
  background-color: rgba($yellow, 0.15);
  color: $yellow;
}
.badge-soft-orange {
  border-color: $orange;
  background-color: rgba($orange, 0.15);
  color: $orange;
}
.badge-soft-cyan {
  border-color: $cyan;
  background-color: rgba($cyan, 0.15);
  color: $cyan;
}
.badge-soft-accent-01 {
  border-color: $accent-01;
  background-color: rgba($accent-01, 0.15);
  color: $accent-01;
}
.badge-soft-accent-02 {
  border-color: $accent-02;
  background-color: rgba($accent-02, 0.15);
  color: $accent-02;
}
.badge-soft-accent-03 {
  border-color: $accent-03;
  background-color: rgba($accent-03, 0.15);
  color: $accent-03;
}
.badge-soft-light {
  border-color: $light;
  background-color: rgba($light, 0.15);
  color: $light;
}
.badge-soft-dark {
  border-color: $dark;
  background-color: rgba($dark, 0.15);
  color: $dark;
}
.badge-soft-gray {
  border-color: $gray;
  background-color: rgba($gray, 0.15);
  color: $gray;
}