/*-----------------------------------------------
|   Reboot
-----------------------------------------------*/  
/* Margin Both */
.mr-0 { 
    margin: 0px !important;
}
.mr-5 { 
    margin: 5px !important;
}
.mr-10 { 
    margin: 10px !important;
}
.mr-15 { 
    margin: 15px !important;
}
.mr-20 { 
    margin: 20px !important;
}
.mr-25 { 
    margin: 25px !important;
}
.mr-30 { 
    margin: 30px !important;
}
.mr-35 { 
    margin: 35px !important;
}
.mr-40 { 
    margin: 40px !important;
}
.mr-45 { 
    margin: 45px !important;
}
.mr-50 { 
    margin: 50px !important;
}
.mr-55 { 
    margin: 55px !important;
}
.mr-60 { 
    margin: 60px !important;
}
.mr-65 { 
    margin: 65px !important;
}
.mr-70 { 
    margin: 70px !important;
}
.mr-75 { 
    margin: 75px !important;
}
.mr-80 { 
    margin: 80px !important;
}
.mr-85 { 
    margin: 85px !important;
}
.mr-90 { 
    margin: 90px !important;
}
.mr-95 { 
    margin: 95px !important;
}
.mr-100 { 
    margin: 100px !important;
}

/* Margin Left-Right */
.mr-lr-5 { 
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.mr-lr-10 { 
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.mr-lr-15 { 
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.mr-lr-20 { 
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mr-lr-25 { 
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.mr-lr-30 { 
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mr-lr-35 { 
    margin-left: 35px !important;
    margin-right: 35px !important;
}
.mr-lr-40 { 
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.mr-lr-45 { 
    margin-left: 45px !important;
    margin-right: 45px !important;
}
.mr-lr-50 { 
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.mr-lr-55 { 
    margin-left: 55px !important;
    margin-right: 55px !important;
}
.mr-lr-60 { 
    margin-left: 60px !important;
    margin-right: 60px !important;
}
.mr-lr-65 { 
    margin-left: 65px !important;
    margin-right: 65px !important;
}
.mr-lr-70 { 
    margin-left: 70px !important;
    margin-right: 70px !important;
}
.mr-lr-75 { 
    margin-left: 75px !important;
    margin-right: 75px !important;
}
.mr-lr-80 { 
    margin-left: 80px !important;
    margin-right: 80px !important;
}
.mr-lr-85 { 
    margin-left: 85px !important;
    margin-right: 85px !important;
}
.mr-lr-90 { 
    margin-left: 90px !important;
    margin-right: 90px !important;
}
.mr-lr-95 { 
    margin-left: 95px !important;
    margin-right: 95px !important;
}
.mr-lr-100 { 
    margin-left: 100px !important;
    margin-right: 100px !important;
}

/* Margin Top-Bottom */
.mr-tb-5 { 
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mr-tb-10 { 
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mr-tb-15 { 
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mr-tb-20 { 
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mr-tb-25 { 
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.mr-tb-30 { 
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mr-tb-35 { 
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.mr-tb-40 { 
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.mr-tb-45 { 
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}
.mr-tb-50 { 
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.mr-tb-55 { 
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}
.mr-tb-60 { 
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}
.mr-tb-65 { 
    margin-top: 65px !important;
    margin-bottom: 65px !important;
}
.mr-tb-70 { 
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}
.mr-tb-75 { 
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}
.mr-tb-80 { 
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
.mr-tb-85 { 
    margin-top: 85px !important;
    margin-bottom: 85px !important;
}
.mr-tb-90 { 
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}
.mr-tb-95 { 
    margin-top: 95px !important;
    margin-bottom: 95px !important;
}
.mr-tb-100 { 
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
    
/* Margin Left */
.mr-left-5 { 
    margin-left: 5px !important;
}
.mr-left-10 { 
    margin-left: 10px !important;
}
.mr-left-15 { 
    margin-left: 15px !important;
}
.mr-left-20 { 
    margin-left: 20px !important;
}
.mr-left-25 { 
    margin-left: 25px !important;
}
.mr-left-30 { 
    margin-left: 30px !important;
}
.mr-left-35 { 
    margin-left: 35px !important;
}
.mr-left-40 { 
    margin-left: 40px !important;
}
.mr-left-45 { 
    margin-left: 45px !important;
}
.mr-left-50 { 
    margin-left: 50px !important;
}
.mr-left-55 { 
    margin-left: 55px !important;
}
.mr-left-60 { 
    margin-left: 60px !important;
}
.mr-left-65 { 
    margin-left: 65px !important;
}
.mr-left-70 { 
    margin-left: 70px !important;
}
.mr-left-75 { 
    margin-left: 75px !important;
}
.mr-left-80 { 
    margin-left: 80px !important;
}
.mr-left-85 { 
    margin-left: 85px !important;
}
.mr-left-90 { 
    margin-left: 90px !important;
}
.mr-left-95 { 
    margin-left: 95px !important;
}
.mr-left-100 { 
    margin-left: 100px !important;
}
    
/* Margin Top */
.mr-top-5 { 
    margin-top: 5px !important;
}
.mr-top-10 { 
    margin-top: 10px !important;
}
.mr-top-15 { 
    margin-top: 15px !important;
}
.mr-top-20 { 
    margin-top: 20px !important;
}
.mr-top-25 { 
    margin-top: 25px !important;
}
.mr-top-30 { 
    margin-top: 30px !important;
}
.mr-top-35 { 
    margin-top: 35px !important;
}
.mr-top-40 { 
    margin-top: 40px !important;
}
.mr-top-45 { 
    margin-top: 45px !important;
}
.mr-top-50 { 
    margin-top: 50px !important;
}
.mr-top-55 { 
    margin-top: 55px !important;
}
.mr-top-60 { 
    margin-top: 60px !important;
}
.mr-top-65 { 
    margin-top: 65px !important;
}
.mr-top-70 { 
    margin-top: 70px !important;
}
.mr-top-75 { 
    margin-top: 75px !important;
}
.mr-top-80 { 
    margin-top: 80px !important;
}
.mr-top-85 { 
    margin-top: 85px !important;
}
.mr-top-90 { 
    margin-top: 90px !important;
}
.mr-top-95 { 
    margin-top: 95px !important;
}
.mr-top-100 { 
    margin-top: 100px !important;
}
    
/* Margin Right */
.mr-right-5 { 
    margin-right: 5px !important;
}
.mr-right-10 { 
    margin-right: 10px !important;
}
.mr-right-15 { 
    margin-right: 15px !important;
}
.mr-right-20 { 
    margin-right: 20px !important;
}
.mr-right-25 { 
    margin-right: 25px !important;
}
.mr-right-30 { 
    margin-right: 30px !important;
}
.mr-right-35 { 
    margin-right: 35px !important;
}
.mr-right-40 { 
    margin-right: 40px !important;
}
.mr-right-45 { 
    margin-right: 45px !important;
}
.mr-right-50 { 
    margin-right: 50px !important;
}
.mr-right-55 { 
    margin-right: 55px !important;
}
.mr-right-60 { 
    margin-right: 60px !important;
}
.mr-right-65 { 
    margin-right: 65px !important;
}
.mr-right-70 { 
    margin-right: 70px !important;
}
.mr-right-75 { 
    margin-right: 75px !important;
}
.mr-right-80 { 
    margin-right: 80px !important;
}
.mr-right-85 { 
    margin-right: 85px !important;
}
.mr-right-90 { 
    margin-right: 90px !important;
}
.mr-right-95 { 
    margin-right: 95px !important;
}
.mr-right-100 { 
    margin-right: 100px !important;
}
    
/* Margin Bottom */
.mr-bottom-5 { 
    margin-bottom: 5px !important;
}
.mr-bottom-10 { 
    margin-bottom: 10px !important;
}
.mr-bottom-15 { 
    margin-bottom: 15px !important;
}
.mr-bottom-20 { 
    margin-bottom: 20px !important;
}
.mr-bottom-25 { 
    margin-bottom: 25px !important;
}
.mr-bottom-30 { 
    margin-bottom: 30px !important;
}
.mr-bottom-35 { 
    margin-bottom: 35px !important;
}
.mr-bottom-40 { 
    margin-bottom: 40px !important;
}
.mr-bottom-45 { 
    margin-bottom: 45px !important;
}
.mr-bottom-50 { 
    margin-bottom: 50px !important;
}
.mr-bottom-55 { 
    margin-bottom: 55px !important;
}
.mr-bottom-60 { 
    margin-bottom: 60px !important;
}
.mr-bottom-65 { 
    margin-bottom: 65px !important;
}
.mr-bottom-70 { 
    margin-bottom: 70px !important;
}
.mr-bottom-75 { 
    margin-bottom: 75px !important;
}
.mr-bottom-80 { 
    margin-bottom: 80px !important;
}
.mr-bottom-85 { 
    margin-bottom: 85px !important;
}
.mr-bottom-90 { 
    margin-bottom: 90px !important;
}
.mr-bottom-95 { 
    margin-bottom: 95px !important;
}
.mr-bottom-100 { 
    margin-bottom: 100px !important;
}


/* Padding Both */
.pd-0 {
    padding: 0px !important;
}
.pd-5 { 
    padding: 5px !important;
}
.pd-10 { 
    padding: 10px !important;
}
.pd-15 { 
    padding: 15px !important;
}
.pd-20 { 
    padding: 20px !important;
}
.pd-25 { 
    padding: 25px !important;
}
.pd-30 { 
    padding: 30px !important;
}
.pd-35 { 
    padding: 35px !important;
}
.pd-40 { 
    padding: 40px !important;
}
.pd-45 { 
    padding: 45px !important;
}
.pd-50 { 
    padding: 50px !important;
}
.pd-55 { 
    padding: 55px !important;
}
.pd-60 { 
    padding: 60px !important;
}
.pd-65 { 
    padding: 65px !important;
}
.pd-70 { 
    padding: 70px !important;
}
.pd-75 { 
    padding: 75px !important;
}
.pd-80 { 
    padding: 80px !important;
}
.pd-85 { 
    padding: 85px !important;
}
.pd-90 { 
    padding: 90px !important;
}
.pd-95 { 
    padding: 95px !important;
}
.pd-100 { 
    padding: 100px !important;
}

/* Padding Left-Right */
.pd-lr-5 { 
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.pd-lr-10 { 
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.pd-lr-15 { 
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.pd-lr-20 { 
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.pd-lr-25 { 
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.pd-lr-30 { 
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.pd-lr-35 { 
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.pd-lr-40 { 
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.pd-lr-45 { 
    padding-left: 45px !important;
    padding-right: 45px !important;
}
.pd-lr-50 { 
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.pd-lr-55 { 
    padding-left: 55px !important;
    padding-right: 55px !important;
}
.pd-lr-60 { 
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.pd-lr-65 { 
    padding-left: 65px !important;
    padding-right: 65px !important;
}
.pd-lr-70 { 
    padding-left: 70px !important;
    padding-right: 70px !important;
}
.pd-lr-75 { 
    padding-left: 75px !important;
    padding-right: 75px !important;
}
.pd-lr-80 { 
    padding-left: 80px !important;
    padding-right: 80px !important;
}
.pd-lr-85 { 
    padding-left: 85px !important;
    padding-right: 85px !important;
}
.pd-lr-90 { 
    padding-left: 90px !important;
    padding-right: 90px !important;
}
.pd-lr-95 { 
    padding-left: 95px !important;
    padding-right: 95px !important;
}
.pd-lr-100 { 
    padding-left: 100px !important;
    padding-right: 100px !important;
}

/* Padding Top-Bottom */
.pd-tb-5 { 
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.pd-tb-10 { 
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.pd-tb-15 { 
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pd-tb-20 { 
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.pd-tb-25 { 
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.pd-tb-30 { 
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.pd-tb-35 { 
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}
.pd-tb-40 { 
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.pd-tb-45 { 
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}
.pd-tb-50 { 
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.pd-tb-55 { 
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}
.pd-tb-60 { 
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.pd-tb-65 { 
    padding-top: 65px !important;
    padding-bottom: 65px !important;
}
.pd-tb-70 { 
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
.pd-tb-75 { 
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}
.pd-tb-80 { 
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}
.pd-tb-85 { 
    padding-top: 85px !important;
    padding-bottom: 85px !important;
}
.pd-tb-90 { 
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}
.pd-tb-95 { 
    padding-top: 95px !important;
    padding-bottom: 95px !important;
}
.pd-tb-100 { 
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
    
/* Padding Left */
.pd-left-5 { 
    padding-left: 5px !important;
}
.pd-left-10 { 
    padding-left: 10px !important;
}
.pd-left-15 { 
    padding-left: 15px !important;
}
.pd-left-20 { 
    padding-left: 20px !important;
}
.pd-left-25 { 
    padding-left: 25px !important;
}
.pd-left-30 { 
    padding-left: 30px !important;
}
.pd-left-35 { 
    padding-left: 35px !important;
}
.pd-left-40 { 
    padding-left: 40px !important;
}
.pd-left-45 { 
    padding-left: 45px !important;
}
.pd-left-50 { 
    padding-left: 50px !important;
}
.pd-left-55 { 
    padding-left: 55px !important;
}
.pd-left-60 { 
    padding-left: 60px !important;
}
.pd-left-65 { 
    padding-left: 65px !important;
}
.pd-left-70 { 
    padding-left: 70px !important;
}
.pd-left-75 { 
    padding-left: 75px !important;
}
.pd-left-80 { 
    padding-left: 80px !important;
}
.pd-left-85 { 
    padding-left: 85px !important;
}
.pd-left-90 { 
    padding-left: 90px !important;
}
.pd-left-95 { 
    padding-left: 95px !important;
}
.pd-left-100 { 
    padding-left: 100px !important;
}
    
/* Padding Top */
.pd-top-5 { 
    padding-top: 5px !important;
}
.pd-top-10 { 
    padding-top: 10px !important;
}
.pd-top-15 { 
    padding-top: 15px !important;
}
.pd-top-20 { 
    padding-top: 20px !important;
}
.pd-top-25 { 
    padding-top: 25px !important;
}
.pd-top-30 { 
    padding-top: 30px !important;
}
.pd-top-35 { 
    padding-top: 35px !important;
}
.pd-top-40 { 
    padding-top: 40px !important;
}
.pd-top-45 { 
    padding-top: 45px !important;
}
.pd-top-50 { 
    padding-top: 50px !important;
}
.pd-top-55 { 
    padding-top: 55px !important;
}
.pd-top-60 { 
    padding-top: 60px !important;
}
.pd-top-65 { 
    padding-top: 65px !important;
}
.pd-top-70 { 
    padding-top: 70px !important;
}
.pd-top-75 { 
    padding-top: 75px !important;
}
.pd-top-80 { 
    padding-top: 80px !important;
}
.pd-top-85 { 
    padding-top: 85px !important;
}
.pd-top-90 { 
    padding-top: 90px !important;
}
.pd-top-95 { 
    padding-top: 95px !important;
}
.pd-top-100 { 
    padding-top: 100px !important;
}
    
/* Padding Right */
.pd-right-5 { 
    padding-right: 5px !important;
}
.pd-right-10 { 
    padding-right: 10px !important;
}
.pd-right-15 { 
    padding-right: 15px !important;
}
.pd-right-20 { 
    padding-right: 20px !important;
}
.pd-right-25 { 
    padding-right: 25px !important;
}
.pd-right-30 { 
    padding-right: 30px !important;
}
.pd-right-35 { 
    padding-right: 35px !important;
}
.pd-right-40 { 
    padding-right: 40px !important;
}
.pd-right-45 { 
    padding-right: 45px !important;
}
.pd-right-50 { 
    padding-right: 50px !important;
}
.pd-right-55 { 
    padding-right: 55px !important;
}
.pd-right-60 { 
    padding-right: 60px !important;
}
.pd-right-65 { 
    padding-right: 65px !important;
}
.pd-right-70 { 
    padding-right: 70px !important;
}
.pd-right-75 { 
    padding-right: 75px !important;
}
.pd-right-80 { 
    padding-right: 80px !important;
}
.pd-right-85 { 
    padding-right: 85px !important;
}
.pd-right-90 { 
    padding-right: 90px !important;
}
.pd-right-95 { 
    padding-right: 95px !important;
}
.pd-right-100 { 
    padding-right: 100px !important;
}
    
/* Padding Bottom */
.pd-bottom-5 { 
    padding-bottom: 5px !important;
}
.pd-bottom-10 { 
    padding-bottom: 10px !important;
}
.pd-bottom-15 { 
    padding-bottom: 15px !important;
}
.pd-bottom-20 { 
    padding-bottom: 20px !important;
}
.pd-bottom-25 { 
    padding-bottom: 25px !important;
}
.pd-bottom-30 { 
    padding-bottom: 30px !important;
}
.pd-bottom-35 { 
    padding-bottom: 35px !important;
}
.pd-bottom-40 { 
    padding-bottom: 40px !important;
}
.pd-bottom-45 { 
    padding-bottom: 45px !important;
}
.pd-bottom-50 { 
    padding-bottom: 50px !important;
}
.pd-bottom-55 { 
    padding-bottom: 55px !important;
}
.pd-bottom-60 { 
    padding-bottom: 60px !important;
}
.pd-bottom-65 { 
    padding-bottom: 65px !important;
}
.pd-bottom-70 { 
    padding-bottom: 70px !important;
}
.pd-bottom-75 { 
    padding-bottom: 75px !important;
}
.pd-bottom-80 { 
    padding-bottom: 80px !important;
}
.pd-bottom-85 { 
    padding-bottom: 85px !important;
}
.pd-bottom-90 { 
    padding-bottom: 90px !important;
}
.pd-bottom-95 { 
    padding-bottom: 95px !important;
}
.pd-bottom-100 { 
    padding-bottom: 100px !important;
}

// Font Size
.fs-1 {
    @include font-size($_1px);
}
.fs-2 {
    @include font-size($_2px);
}
.fs-3 {
    @include font-size($_3px);
}
.fs-4 {
    @include font-size($_4px);
}
.fs-5 {
    @include font-size($_5px);
}
.fs-6 {
    @include font-size($_6px);
}
.fs-7 {
    @include font-size($_7px);
}
.fs-8 {
    @include font-size($_8px);
}
.fs-9 {
    @include font-size($_9px);
}
.fs-10 {
    @include font-size($_10px);
}
.fs-11 {
    @include font-size($_11px);
}
.fs-12 {
    @include font-size($_12px);
}
.fs-13 {
    @include font-size($_13px);
}
.fs-14 {
    @include font-size($_14px);
}
.fs-15 {
    @include font-size($_15px);
}
.fs-16 {
    @include font-size($_16px);
}
.fs-17 {
    @include font-size($_17px);
}
.fs-18 {
    @include font-size($_18px);
}
.fs-19 {
    @include font-size($_19px);
}
.fs-20 {
    @include font-size($_20px);
}
.fs-21 {
    @include font-size($_21px);
}
.fs-22 {
    @include font-size($_22px);
}
.fs-23 {
    @include font-size($_23px);
}
.fs-24 {
    @include font-size($_24px);
}
.fs-25 {
    @include font-size($_25px);
}
.fs-26 {
    @include font-size($_26px);
}
.fs-27 {
    @include font-size($_27px);
}
.fs-28 {
    @include font-size($_28px);
}
.fs-29 {
    @include font-size($_29px);
}
.fs-30 {
    @include font-size($_30px);
}
.fs-31 {
    @include font-size($_31px);
}
.fs-32 {
    @include font-size($_32px);
}
.fs-33 {
    @include font-size($_33px);
}
.fs-34 {
    @include font-size($_34px);
}
.fs-35 {
    @include font-size($_35px);
}
.fs-36 {
    @include font-size($_36px);
}
.fs-37 {
    @include font-size($_37px);
}
.fs-38 {
    @include font-size($_38px);
}
.fs-39 {
    @include font-size($_39px);
}
.fs-40 {
    @include font-size($_40px);
}
.fs-41 {
    @include font-size($_41px);
}
.fs-42 {
    @include font-size($_42px);
}
.fs-43 {
    @include font-size($_43px);
}
.fs-44 {
    @include font-size($_44px);
}
.fs-45 {
    @include font-size($_45px);
}
.fs-46 {
    @include font-size($_46px);
}
.fs-47 {
    @include font-size($_47px);
}
.fs-48 {
    @include font-size($_48px);
}
.fs-49 {
    @include font-size($_49px);
}
.fs-50 {
    @include font-size($_50px);
}
.fs-51 {
    @include font-size($_51px);
}
.fs-52 {
    @include font-size($_52px);
}
.fs-53 {
    @include font-size($_53px);
}
.fs-54 {
    @include font-size($_54px);
}
.fs-55 {
    @include font-size($_55px);
}
.fs-56 {
    @include font-size($_56px);
}
.fs-57 {
    @include font-size($_57px);
}
.fs-58 {
    @include font-size($_58px);
}
.fs-59 {
    @include font-size($_59px);
}
.fs-60 {
    @include font-size($_60px);
}
.fs-61 {
    @include font-size($_61px);
}
.fs-62 {
    @include font-size($_62px);
}
.fs-63 {
    @include font-size($_63px);
}
.fs-64 {
    @include font-size($_64px);
}
.fs-65 {
    @include font-size($_65px);
}
.fs-66 {
    @include font-size($_66px);
}
.fs-67 {
    @include font-size($_67px);
}
.fs-68 {
    @include font-size($_68px);
}
.fs-69 {
    @include font-size($_69px);
}
.fs-70 {
    @include font-size($_70px);
}
.fs-80 {
    @include font-size($_80px);
}
.fs-90 {
    @include font-size($_90px);
}
.fs-100 {
    @include font-size($_100px);
}
.fs-110 {
    @include font-size($_110px);
}
.fs-120 {
    @include font-size($_120px);
}
.fs-130 {
    @include font-size($_130px);
}
.fs-140 {
    @include font-size($_140px);
}
.fs-150 {
    @include font-size($_150px);
}


// Line Height
.lh-1 {
    @include rfs($_1px, line-height);
}
.lh-2 {
    @include rfs($_2px, line-height);
}
.lh-3 {
    @include rfs($_3px, line-height);
}
.lh-4 {
    @include rfs($_4px, line-height);
}
.lh-5 {
    @include rfs($_5px, line-height);
}
.lh-6 {
    @include rfs($_6px, line-height);
}
.lh-7 {
    @include rfs($_7px, line-height);
}
.lh-8 {
    @include rfs($_8px, line-height);
}
.lh-9 {
    @include rfs($_9px, line-height);
}
.lh-10 {
    @include rfs($_10px, line-height);
}
.lh-11 {
    @include rfs($_11px, line-height);
}
.lh-12 {
    @include rfs($_12px, line-height);
}
.lh-13 {
    @include rfs($_13px, line-height);
}
.lh-14 {
    @include rfs($_14px, line-height);
}
.lh-15 {
    @include rfs($_15px, line-height);
}
.lh-16 {
    @include rfs($_16px, line-height);
}
.lh-17 {
    @include rfs($_17px, line-height);
}
.lh-18 {
    @include rfs($_18px, line-height);
}
.lh-19 {
    @include rfs($_19px, line-height);
}
.lh-20 {
    @include rfs($_20px, line-height);
}
.lh-21 {
    @include rfs($_21px, line-height);
}
.lh-22 {
    @include rfs($_22px, line-height);
}
.lh-23 {
    @include rfs($_23px, line-height);
}
.lh-24 {
    @include rfs($_24px, line-height);
}
.lh-25 {
    @include rfs($_25px, line-height);
}
.lh-26 {
    @include rfs($_26px, line-height);
}
.lh-27 {
    @include rfs($_27px, line-height);
}
.lh-28 {
    @include rfs($_28px, line-height);
}
.lh-29 {
    @include rfs($_29px, line-height);
}
.lh-30 {
    @include rfs($_30px, line-height);
}
.lh-31 {
    @include rfs($_31px, line-height);
}
.lh-32 {
    @include rfs($_32px, line-height);
}
.lh-33 {
    @include rfs($_33px, line-height);
}
.lh-34 {
    @include rfs($_34px, line-height);
}
.lh-35 {
    @include rfs($_35px, line-height);
}
.lh-36 {
    @include rfs($_36px, line-height);
}
.lh-37 {
    @include rfs($_37px, line-height);
}
.lh-38 {
    @include rfs($_38px, line-height);
}
.lh-39 {
    @include rfs($_39px, line-height);
}
.lh-40 {
    @include rfs($_40px, line-height);
}
.lh-41 {
    @include rfs($_41px, line-height);
}
.lh-42 {
    @include rfs($_42px, line-height);
}
.lh-43 {
    @include rfs($_43px, line-height);
}
.lh-44 {
    @include rfs($_44px, line-height);
}
.lh-45 {
    @include rfs($_45px, line-height);
}
.lh-46 {
    @include rfs($_46px, line-height);
}
.lh-47 {
    @include rfs($_47px, line-height);
}
.lh-48 {
    @include rfs($_48px, line-height);
}
.lh-49 {
    @include rfs($_49px, line-height);
}
.lh-50 {
    @include rfs($_50px, line-height);
}
.lh-51 {
    @include rfs($_51px, line-height);
}
.lh-52 {
    @include rfs($_52px, line-height);
}
.lh-53 {
    @include rfs($_53px, line-height);
}
.lh-54 {
    @include rfs($_54px, line-height);
}
.lh-55 {
    @include rfs($_55px, line-height);
}
.lh-56 {
    @include rfs($_56px, line-height);
}
.lh-57 {
    @include rfs($_57px, line-height);
}
.lh-58 {
    @include rfs($_58px, line-height);
}
.lh-59 {
    @include rfs($_59px, line-height);
}
.lh-60 {
    @include rfs($_60px, line-height);
}
.lh-61 {
    @include rfs($_61px, line-height);
}
.lh-62 {
    @include rfs($_62px, line-height);
}
.lh-63 {
    @include rfs($_63px, line-height);
}
.lh-64 {
    @include rfs($_64px, line-height);
}
.lh-65 {
    @include rfs($_65px, line-height);
}
.lh-66 {
    @include rfs($_66px, line-height);
}
.lh-67 {
    @include rfs($_67px, line-height);
}
.lh-68 {
    @include rfs($_68px, line-height);
}
.lh-69 {
    @include rfs($_69px, line-height);
}
.lh-70 {
    @include rfs($_70px, line-height);
}
.lh-80 {
    @include rfs($_80px, line-height);
}
.lh-90 {
    @include rfs($_90px, line-height);
}
.lh-100 {
    @include rfs($_100px, line-height);
}
.lh-110 {
    @include rfs($_110px, line-height);
}
.lh-120 {
    @include rfs($_120px, line-height);
}
.lh-130 {
    @include rfs($_130px, line-height);
}
.lh-140 {
    @include rfs($_140px, line-height);
}
.lh-150 {
    @include rfs($_150px, line-height);
}

// Letter Spacing
.ls-1 {
    @include rfs($_1px, letter-spacing);
}
.ls-2 {
    @include rfs($_2px, letter-spacing);
}
.ls-3 {
    @include rfs($_3px, letter-spacing);
}
.ls-4 {
    @include rfs($_4px, letter-spacing);
}
.ls-5 {
    @include rfs($_5px, letter-spacing);
}


// Z-index 
.z-index-0 {
    z-index: 0 !important;
}
.z-index-1 {
    z-index: 1 !important;
}
.z-index-2 {
    z-index: 2 !important;
}
.z-index-3 {
    z-index: 3 !important;
}
.z-index-4 {
    z-index: 4 !important;
}
.z-index-5 {
    z-index: 5 !important;
}
.z-index-6 {
    z-index: 6 !important;
}
.z-index-7 {
    z-index: 7 !important;
}
.z-index-8 {
    z-index: 8 !important;
}
.z-index-9 {
    z-index: 9 !important;
}

$headings-font-family: $font-family-heading !default;
$headings-font-weight: $font-weight-bold !default;
$headings-color: var(--#{$variable-prefix}headings-color) !default;

$display-font-weight: $font-weight-black !default;
$display-line-height: 1 !default;

html {
    padding:0;
}
  
body {
    position: relative;
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $dark;
    text-align: $body-text-align;
    background-color: $white;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba($black, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.ff-base {
    font-family: $font-family-base !important;
}
.ff-heading {
    font-family: $font-family-heading !important;
}
hr {
    color: $light-200;
    opacity: 0.8;
}
  
// Typography
//
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

%heading {
    margin-top: 0; // 1
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $font-weight-bold;
    line-height: $_30px;
    color: $dark;
}

h1 {
    @extend %heading;
    @include font-size($h1-font-size);
}

h2 {
    @extend %heading;
    @include font-size($h2-font-size);
}

h3 {
    @extend %heading;
    @include font-size($h3-font-size);
}

h4 {
    @extend %heading;
    @include font-size($h4-font-size);
}

h5 {
    @extend %heading;
    @include font-size($h5-font-size);
}

h6 {
    @extend %heading;
    @include font-size($h6-font-size);
}

pre,
code {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
  
section {
    position: relative;
    padding-top: map_get($spacers, 2);
    padding-bottom: map_get($spacers, 2);
  
    @include media-breakpoint-up(lg) {
        padding-top: map_get($spacers, 4);
        padding-bottom: map_get($spacers, 4);
    }
}
  
//setting up font family for bootstrap components
input,
button,
select,
optgroup,
textarea,
label,
.alert,
.badge,
.blockquote-footer,
.btn,
.navbar,
.pagination,
.valid-feedback,
.invalid-feedback {
    font-family: $font-family-base;
}
.blockquote {
    color: $gray-100;
}
  
.blockquote-footer {
    font-size: $_14px;
    color: $gray-100;
    margin-top: -(map-get($spacers, 3));
}
pre {
    margin: 0;
    transform: translate3d(0, 0, 0);
}

strong {
    font-weight: $font-weight-semibold;
}

abbr[title] {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $gray-100;
}

pre,
kbd,
samp {
    font-size: $font-size-sm;
}

code{
    font-size: 87.5%;
}
a,
a:hover {
    text-decoration: none;
}
.list-style {
    li{
        list-style: none;
        &::before {
            display: inline-block;
            width: $_16px;
            margin-left: -$_16px;
            color: $purple;
            font-weight: bold;
            content: "•";
        }
    }
}
ol.list-style {
    li {
        counter-increment: li;
        &::before {
            margin-right: 0.5em;
            margin-left: -1.5em;
            font-weight: inherit;
            text-align: right;
            direction: rtl;
            white-space: nowrap;
            content: "." counter(li);
        }
    }
}
.list-inline-item:not(:last-child) {
    margin-right: $_40px;
}

dt {
    font-family: $font-family-heading;
    font-weight: $font-weight-medium;
    color: $dark;
    margin-bottom: map-get($spacers, 1);
}
dd {
    font-family: $font-family-base;
    font-size: $_14px;
    font-weight: $font-weight-normal;
    color: $gray-100;
    margin-bottom: map-get($spacers, 3);
}

mark, .mark {
    background-color: $blue;
    color: $white;
}
a,
a:hover {
    transition: $transition-base;
}
img {
    max-width: 100%;
}
.rounded {
    border-radius: 50% !important;
}
.text-muted {
    font-size: $_14px;
    line-height: $_24px;
}

.fw-medium {
    font-weight: 500 !important;
}

.media {
    height: fit-content;
}

.overflow-hidden {
    overflow: hidden;
}
.overflow-visible {
    overflow: visible;
}
.overflow-auto {
    overflow: auto;
}


::-webkit-scrollbar-track {
	border-radius: $border-radius-sm;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
    height: 5px;
	background-color: $light-200;
}

::-webkit-scrollbar-thumb {
	border-radius: $border-radius-sm;
	background-color: $gray-200;
}

// Light Background Color
.bg-soft-primary {
    background-color: rgba($primary, 0.25);
    color: $primary;
}
.bg-soft-secondary {
    background-color: rgba($secondary, 0.25);
    color: $secondary;
}
.bg-soft-success {
    background-color: rgba($success, 0.25);
    color: $success;
}
.bg-soft-danger {
    background-color: rgba($danger, 0.25);
    color: $danger;
}
.bg-soft-warning {
    background-color: rgba($warning, 0.25);
    color: $warning;
}
.bg-soft-info {
    background-color: rgba($info, 0.25);
    color: $info;
}
.bg-soft-blue {
    background-color: rgba($blue, 0.25);
    color: $blue;
}
.bg-soft-green {
    background-color: rgba($green, 0.25);
    color: $green;
}
.bg-soft-red {
    background-color: rgba($red, 0.25);
    color: $red;
}
.bg-soft-yellow {
    background-color: rgba($yellow, 0.25);
    color: $yellow;
}
.bg-soft-light {
    background-color: rgba($light, 0.25);
    color: $light;
}
.bg-soft-dark {
    background-color: rgba($dark, 0.25);
    color: $dark;
}


// Button Light Background Color
.btn-soft-primary {
    background-color: rgba($primary, 0.25);
    color: $primary;
}
.btn-soft-secondary {
    background-color: rgba($secondary, 0.25);
    color: $secondary;
}
.btn-soft-success {
    background-color: rgba($success, 0.25);
    color: $success;
}
.btn-soft-danger {
    background-color: rgba($danger, 0.25);
    color: $danger;
}
.btn-soft-warning {
    background-color: rgba($warning, 0.25);
    color: $warning;
}
.btn-soft-info {
    background-color: rgba($info, 0.25);
    color: $info;
}
.btn-soft-blue {
    background-color: rgba($blue, 0.25);
    color: $blue;
}
.btn-soft-green {
    background-color: rgba($green, 0.25);
    color: $green;
}
.btn-soft-red {
    background-color: rgba($red, 0.25);
    color: $red;
}
.btn-soft-yellow {
    background-color: rgba($yellow, 0.25);
    color: $yellow;
}
.btn-soft-light {
    background-color: rgba($light, 0.25);
    color: $light;
}
.btn-soft-dark {
    background-color: rgba($dark, 0.25);
    color: $dark;
}


// Text Soft Color
.text-soft-primary {
    color: rgba($primary, 0.25);
    transition: $transition-base;
}
.text-soft-secondary {
    color: rgba($secondary, 0.25);
    transition: $transition-base;
}
.text-soft-success {
    color: rgba($success, 0.25);
    transition: $transition-base;
}
.text-soft-danger {
    color: rgba($danger, 0.25);
    transition: $transition-base;
}
.text-soft-warning {
    color: rgba($warning, 0.25);
    transition: $transition-base;
}
.text-soft-info {
    color: rgba($info, 0.25);
    transition: $transition-base;
}
.text-soft-blue {
    color: rgba($blue, 0.25);
    transition: $transition-base;
}
.text-soft-green {
    color: rgba($green, 0.25);
    transition: $transition-base;
}
.text-soft-red {
    color: rgba($red, 0.25);
    transition: $transition-base;
}
.text-soft-yellow {
    color: rgba($yellow, 0.25);
    transition: $transition-base;
}
.text-soft-light {
    color: rgba($light, 0.25);
    transition: $transition-base;
}
.text-soft-dark {
    color: rgba($dark, 0.25);
    transition: $transition-base;
}


// Text Soft Color on Hover
a:hover .text-soft-primary {
    color: rgba($primary, 1);
}
a:hover .text-soft-secondary {
    color: rgba($secondary, 1);
}
a:hover .text-soft-success {
    color: rgba($success, 1);
}
a:hover .text-soft-danger {
    color: rgba($danger, 1);
}
a:hover .text-soft-warning {
    color: rgba($warning, 1);
}
a:hover .text-soft-info {
    color: rgba($info, 1);
}
a:hover .text-soft-blue {
    color: rgba($blue, 1);
}
a:hover .text-soft-green {
    color: rgba($green, 1);
}
a:hover .text-soft-red {
    color: rgba($red, 1);
}
a:hover .text-soft-yellow {
    color: rgba($yellow, 1);
}
a:hover .text-soft-light {
    color: rgba($light, 1);
}
a:hover .text-soft-dark {
    color: rgba($dark, 1);
}

::-webkit-input-placeholder {
	color: $gray;
	font-size: $_13px;
	font-weight: $font-weight-light;
}

::-moz-placeholder {
	color: $gray;
	font-size: $_13px;
	font-weight: $font-weight-light;
}

:-ms-input-placeholder {
	color: $gray;
	font-size: $_13px;
	font-weight: $font-weight-light;
}

:-moz-placeholder {
	color: $gray;
	font-size: $_13px;
	font-weight: $font-weight-light;
}

:placeholder {
	color: $gray;
	font-size: $_13px;
	font-weight: $font-weight-light;
}