//Tooltips
.tooltip-primary {
    --kleon-tooltip-bg: var(--kleon-primary);
}
.tooltip-secondary {
    --kleon-tooltip-bg: var(--kleon-secondary);
}
.tooltip-success {
    --kleon-tooltip-bg: var(--kleon-success);
}
.tooltip-info {
    --kleon-tooltip-bg: var(--kleon-info);
}
.tooltip-warning {
    --kleon-tooltip-bg: var(--kleon-warning);
}
.tooltip-danger {
    --kleon-tooltip-bg: var(--kleon-danger);
}
.tooltip-dark {
    --kleon-tooltip-bg: var(--kleon-dark);
}
.tooltip-orange {
    --kleon-tooltip-bg: var(--kleon-orange);
}
.tooltip-light {
    --kleon-tooltip-bg: var(--kleon-light);
}
.tooltip-white {
    --kleon-tooltip-bg: var(--kleon-white);
}