@{
    Layout = "_AuthLayout";
}

<div class="card-header border-0 p-0 text-center mb-2">
    <partial name="_Logo" />
    <h5 class="text-dark my-4">password has been changes successfully</h5>
    <a class="h5 text-primary" asp-controller="auth" asp-action="login">back to login page</a>
</div>

<div class="card-body p-0">

</div>
