
@{
    Layout = "_AuthLayout";
}

<div class="card-header border-0 p-0 text-center">
    <partial name="_Logo" />
    <h3>Reset Password</h3>
    <p class="fs-14 text-dark my-4">Please enter your email to reset the passsword</p>
</div>

<div class="card-body p-0">



    <form class="form-horizontal" method="POST" asp-controller="Auth" asp-action="ResetPasswordRequest" onsubmit="resetpassword.disabled = true; return true;">

        

        <div class="form-group">
            <input name="Email" type="email" class="form-control" placeholder="Type Email" required>
        </div>

      
       

        <button id="resetpassword" type="submit"
                class="btn btn-primary w-100 text-uppercase text-white rounded-2 lh-34 ff-heading fw-bold shadow">
            Send Reset Password Link
        </button>

        <span class="text-success text-center"> @ViewData["Success"]</span>
        <apan class="text-danger text-center"> @Html.ValidationMessage("ResetPasswordError") </apan>

        <p class="d-flex align-items-center justify-content-between mt-4 mb-4">
            <a asp-controller="auth" asp-action="login" class="text-primary fw-bold text-decoration-underline">back to login</a>
        </p>

        
        

    </form>
</div>