<div class="">
    <div class="card border-0 dropdown-widget p-5">
        <div class="card-header border-0 mb-3 d-flex align-items-center gap-4">
            <h4 class="mb-0">Activities</h4>
            <div class="ms-auto">
                <a>

                </a>

            </div>
        </div>
        <div class="card-body p-0">
            <ul class="list-unstyled" id="activities">


            </ul>


        </div>
    </div>
</div>