 


<div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
    <div class="left-part">
        <h2 class="text-dark"></h2>
        <p class="text-gray mb-0"></p>
    </div>
    
    
     @if (HttpContextAccessor.IsManager())
    {
        <div class="right-part d-flex align-items-center gap-4 flex-wrap">
            <div>
                <a class="btn btn-primary ff-heading fs-18 fw-bold py-3" id="addEmployeeButton" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addEmployee">
                    <span class="fs-21"><i class="bi bi-plus"></i></span> invite to project
                </a>
            </div>
        </div>
    }
    
</div>

<!-- Table Six -->
<div class="card border-0 shadow-sm">


    <div class="card-body pt-2">
        <div class="table-responsive">
            <table id="table-6" class="display text-center">
                <thead>
                    <tr>

                        <th>Employee</th>
                        <th>Team</th>
                        <th>Tasks <p> Assigned</p> </th>
                        <th>Tasks <p>Reported </p> </th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody id="EmployeesTableBody">





                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $("#addEmployeeButton").click(function () {

        console.log($("#offcanvas-body").data("project"))
        $("#asingeesContainer").data("project", $("#offcanvas-body").data("project"))

    })

    

    $("#confirmEmployeeaddEmployee").click(function () {

         var ids = [];
         var employees = $("#avatarsBody").children().each(function () {
             ids.push($(this).data("value"));
         })

        if (ids.length == 0) {
            toastr.error("you have to add at least one employee", "error", {
                progressBar: true,
                positionClass: "toast-top-right",
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "5000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
            })
            return; 
        }
        $("#confirmEmployeeaddEmployee").attr('disabled', "disabled")
        
        var projectid = $("#offcanvas-body").data("project")
        $.ajax({
            type: "POST",
            url: "/api/Projects/" + projectid + "/employees/",
            contentType: "application/json",
            data: JSON.stringify(ids),
            success: function (response) {
                $("#leaveAddEmployeeModel").click()
                swal(
                    'Success',
                    'Employees Adeed successfully!',
                    'success',
                ).then(function () {
                    location.reload();
                });

            },
            error: function (response) {  }


        })
    })
</script>