


<!-- Table Six -->
<div class="card border-0 shadow-sm">


    <div class="card-body pt-2">
        <div class="table-responsive">
            <table id="table-5" class="display text-center">
                <thead>
                    <tr>

                        <th>Title</th>
                        <th>Status</th>
                        <th>Priority</th>
                        

                    </tr>
                </thead>
                <tbody id="TasksTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

